#newRequestTitle {
    margin: auto;
    padding-top: 10px;
}
#newRequestColumnContainer {
    background-color: #a08e76;
    border-radius: 25px;
    padding: 20px;
    margin-top: 10px;
    width: 80vw;
    min-height: 39vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

