body {
    margin: 0;
    padding: 0;
}
.container {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #f5d6ad;
    display: flex;
    flex-direction: column;
}
.container .heading {
    margin-top: 0;
    padding-top: 10px;
}
#columnMaker {
    display: flex;
    justify-content: center;
    gap: 2vw;
    width: 100%;
    margin: 0px;
}
#mapContainer {
    background-color: #a08e76;
    border-radius: 25px;
    padding: 20px;
    margin-top: 10px;
    width: 40vw;
}

.columnRowContainer {
    background-color: #a08e76;
    border-radius: 25px;
    padding: 20px;
    margin-top: 10px;
    width: 40vw;
    min-height: 39vh;
    justify-content: center;
    display: flex;
}
.title {
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 1.2em;
    margin-bottom: 15px;
    text-align: center;
}
.sliderL {
    height: 100vh;
    width: 0%;
    background-color: rgb(254, 250, 233);
    position: absolute;
    top: 0;
    right: -10%;
    z-index: 9999;
    animation: sliderLeft 1s ease-out forwards;
    border-radius: 100px;
}
@keyframes sliderLeft {
    0% {
        width: 0%;
    }
    100% {
        width: 200%;
    }
}

#map {
    height: 50vh;
    width: 100%;
    border-radius: 10px;
    z-index: 1;
}
#largerText {
    font-size: 1.3em;
    text-align: center;
}
#newRequest {
    border: none;
    border-radius: 50%;
    color: #a08e76;
    font-size: 1.5em;
    width: fit-content;
    height: 30px;
    padding: 1px 9px 32px 9px;
    cursor: pointer;
    position: absolute;
    right: 7vw;
    box-shadow: none;
    transition: background-color 0.2s;
}
#newRequest:hover {
    background-color: #ffe5c3;
}
