.quicksand-500 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
label,
input {
  margin: 25px 75px;
  scale: 2;
  align-self: center;
}
label {
  display: inline-block;
}
#submit {
  padding: 10px;
  font-size: 1.5em;
}
#clear {
  padding: 10px;
  font-size: 1.5em;
  background-color: rgb(244, 229, 218);
}
#clear:active {
  background-color: rgb(219, 209, 203);
}

.signUpContainer {
  border: none;
  background-color: #a08e76;
  text-align: center;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.h1 {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
}

#newShadow {
  display: block;
  float: left;
  z-index: 1000;
}
.errorMessage {
  color: red;
}
.buttonInput {
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px;
  transition: border 0s;
}
.buttonInput:hover,
.buttonInput:active {
  background-color: aliceblue;
  border-width: 1.4px;
}
